@model CreateCategoryDto

@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>New Category</h4>
                <p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                    <label>Name</label>
                    <input type="text" class="form-control" asp-for="Name" />
                    <br />
                    <button class="btn btn-primary">Add</button>
                    </form>

                </div>
            </div>
        </div>

    </div>
</section>


