@model List<ResultCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Bordered Tables</h4>
                <p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.Id</th>
                                    <td>@item.Name</td>
                                    <td><a href="#" class="btn btn-warning">Category</a> </td>
                                    <td><a href="#" class="btn btn-danger">Sil</a> </td>
                                    <td><a href="#" class="btn btn-success">Güncelle</a> </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <a href="/Admin/Category/Add" class="btn btn-primary">New Category</a> 

                </div>
            </div>
        </div>

    </div>
</section>

